@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");

a.white-mode, a.white-mode:link, a.white-mode:visited, a.white-mode:active {
  font-family: "Montserrat";
  font-size: 12px;
  text-decoration: none;
  background: #212121;
  padding: 4px 8px;
  color: #f7f7f7;
}
a.white-mode:hover, a.white-mode:link:hover, a.white-mode:visited:hover, a.white-mode:active:hover {
  background: #edf3f8;
  color: #212121;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #080926;
}

.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}
h1 {
  position: relative;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 40px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
 h1 span {
  font-weight: 600;
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1;
}
h3 {
  font-weight: 200;
  font-size: 20px;

  line-height: 1;
  color: #FFFFFF;
  letter-spacing: 2px;
}

h4 {
  text-align: left;
  font-weight: 200;
  font-size: 18px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #FFFFFF;
  letter-spacing: 2px;
}

h5 {
  text-align: left;
  font-size: 12px;
  line-height: 1;
  color: #FFFFFF;
  letter-spacing: 2px;
}

canvas {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Slabo 27px', serif;
  color: #333a45;
}

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: 'Yesteryear', cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 5px;
  width: calc((100% / 4) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: rgb(109, 22, 73);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.under-construction.card:hover .card__inner {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1);
}

.card__inner {
  width: 100%;
  padding: 15px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.56);
  color: #eceef1;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: .25em;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  margin-top:0;
  font-size: 1.8em;
}

h4 {
  padding-bottom: 10px;
}

.grid {
  list-style-type: none;

}

.grid-item {
  flex: 1 0 auto;
  height:56px;
  display: block;
  width: 56px;
}

.grid-column {
  display: flex;
  flex: 1 0 auto;
}

.grid-block {
  width:25%;
  border-right: 1px solid white;
  display: flex;
  flex: 0 0 50%;
}

td {
  font-size:6px;
  color:white;
  border-right: 1px solid white;
}

td.last {
  border-right: 0;
}


h1 .svg {
  height: 21px;
  margin-left: 10px;
}

h1 .svg path {
  fill:white;
}

.grid-item > .svg {
  height: 22px;
}

.grid-item > .svg path {
  fill:white;
}

.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #2a3cd4;
  width: 100%;
  position: relative;
  color: #eceef1;
  padding: 25px;
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card.is-expanded .card__inner {
  background-color: rgb(77, 13, 55);
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

.area {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out ;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
    0px 0px 5px #fff,
    0px 0px 10px #fff,
    0px 0px 10px #fff,
    0px 0px 10px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #7B96B8,
    0px 0px 75px #7B96B8,
    0px 10px 50px #7B96B8,
    0px 10px 50px #7B96B8,
    0px 10px 50px #7B96B8,
    0px 10px 50px #7B96B8,
    0px -10px 50px #7B96B8,
    0px -10px 50px #7B96B8;
  }
}




